body{
	font-family: 'Cuprum', sans-serif;
	font-size: 18px;
}

#nav{
	margin-bottom: 0;
}

#titulo{
	color:#e6b800;
	font-size: 38px;
	text-decoration: none;
}

#simbolo{
	width: 45px;
}

#control {
    background: none;
}

.carousel-inner{
	text-align: center;
	background: #333;
	border-bottom:2px #e6b800 solid;
	padding-bottom: 0;
}

#videocaru{
	padding-bottom: 15px;
}

#imgcaru{
	padding-bottom: 25px;
}

.carousel img{
	width: 94%;
	position: center fixed;
	margin-left: auto;
	margin-right: auto;
	border:4px #e6b800 solid;
	border-radius: 10px;
}

.carousel video {	
	width: 89%;
	border:4px #e6b800 solid;
	border-radius: 10px;
}

#box{
	text-align: center;
	background: #e6b800;
	border-color: black;
	margin-top: 30px;
}

#box img{
	height: 350px;
}

.thumbnail button{
	color:#e6b800;
	border: none;
	font-size: 20px;
	margin:10px 15px 5px;
	padding: 10px 30px;
	background: black;
	webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.thumbnail button:hover{
	background:#d9d9d9;
	color:black;	
}

#encabezado{
	color: white;
	background: black;
	font-size: 35px;
	padding: 35px 0;
	margin-top: 40px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.productos{
	background:#333;
}

.productos img{
	border: 4px black solid;
}

.social{
	margin top: auto;
	margin-bottom: auto;
	color: white;
	text-align: center;	
	height: 650px;
	background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}


#socicon{
	margin-top: 200px;
	margin-bottom: 70px;
}

.social #insta{
	border: 1.5px black solid;
	margin-left: 30px;
	padding:7px 12px;
	border-radius: 10px;
	font-size: 50px;
	color: white;
	background: linear-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
	background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    transition: all 1s;
}

.social #face{
	border: 1.5px black solid;
	background-color:#3b5998;
	color: white;
	border-radius: 10px;
	padding:7px 19px;
	font-size: 50px;
	webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.social #insta:hover, #face:hover {
	background:#e6b800;
	color: black;
}

.social #num{
	font-size: 27px;	
}

.social video{
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;	
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);	
	opacity: 0.8px;
}

@media(min-width:1200px){
	#prodc{
		width: 1600px;
	}	

	#videocaru{
		padding-bottom: 25px;
	}

	#imgcaru{
		padding-bottom:40px; 
	}
}
