body{
	font-family: 'Cuprum', sans-serif;
	font-size: 19px;
	size: cover;
}

#nav{
	margin-bottom: 0;
}

#titulo{
	color:#e6b800;
	font-size: 38px;
	text-decoration: none;
}

#simbolo{
	width: 45px;
}

#imghead{
	width: 100%;
	border: 5px solid #333;
	margin-top: 10px;	
}

#logorigid img{
	margin-top: 40px;
	height: 120px;
}

#imgradiance1 img{
	position: center;
	margin: 15px 0 30px;
	border: 3px solid black;
	border-radius: 5px;
}

.social{
	height: 300px;
	margin top: auto;
	color: white;
	text-align: center;	
	background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

#socicon{
	margin-top: 200px;
	margin-bottom: 70px;
}

.social #insta{
	border: 1.5px black solid;
	margin-left: 30px;
	padding:7px 12px;
	border-radius: 10px;
	font-size: 50px;
	color: white;
	background: linear-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
	background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    transition: all 1s;
}

.social #face{
	border: 1.5px black solid;
	background-color:#3b5998;
	color: white;
	border-radius: 10px;
	padding:7px 19px;
	font-size: 50px;
	webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.social #insta:hover, #face:hover {
	background:#e6b800;
	color: black;
}

.social #num{
	font-size: 27px;	
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}